* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica";
  /* background-color: black;
  background: url("http://prod-upp-image-read.ft.com/d087758c-3167-11e3-817c-00144feab7de") fixed; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.top-bar>img {
  width: 50px;
}

.quiz-area {
  background-color: black;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  padding: 50px;
  max-width: 90%
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.top-bar {
  padding: 20px;
}

.quiz-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .hidden {
  display: none;
} */

li {
  padding: 10px;
  list-style: none
}

@media screen and (min-width: 800px) {
  .quiz-form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

div, section {
  outline: 3px dotted black;
}